node_modules/
*.log
*.exe
*.dat
*.blf
*.regtrans-ms
*.ini

# Ignora todas las carpetas por defecto
*/

# Exceptúa la carpeta src y todo lo que tiene dentro
!src/
!src/**

# Exceptúa también los archivos principales del proyecto
!docker-compose.yml
!package.json
!package-lock.json
